<div class="my-4">
    <h3>
        <%= post.title %>
    </h3>
    <p>
        <%= post.desc.substring(0, 500) + " ..." %>
            <a class="text-decoration-none" href="/posts/<%= post.title%>">Read more</a>
    </p>
    <p class="text-muted">posted by <%= post.author%> on <%=post.on%>.</p>
</div>