<h2>
    <%= locals.title %>
</h2>
<form class="form-group" action="<%= postEndpoint %>" method="post">
    <label class="form-label" for="title">Title</label>
    <input class="form-control" type="text" name="title" id="title" required autocomplete="off"
        <%=(locals.desc)?"disabled":"" %> autoFocus />
    <label class="form-label" for="form-select">Language</label>
    <select class="form-select" name="lang">
        <option <%= !locals.lang && locals.lang === "plaintext" ? "selected" : "" %> value="plaintext">plain-text</option>
        <option <%= locals.lang || locals.lang === "java" ? "selected" : "" %> value="java">java</option>
        <option <%= locals.lang && locals.lang === "python" ? "selected" : "" %> value="python">python</option>
        <option <%= locals.lang && locals.lang === "markdown" ? "selected" : "" %> value="markdown">Markdown</option>
        <option <%= locals.lang && locals.lang === "javascript" ? "selected" : "" %> value="javascript">javascript</option>
        <option <%= locals.lang && locals.lang === "cpp" ? "selected" : "" %> value="cpp">cpp</option>
    </select>
    <label class="form-label" for="description">Post</label>
    <textarea class="form-control mb-3" name="desc" id="desc" cols="10" rows="15" required><%= locals.desc %></textarea>
    <input class="btn btn-primary me-3" type="submit" value="Publish">
    <a class="btn btn-danger" href="/posts/">cancel</a>
</form>