<h1>
    <%= post.title %>
</h1>
<% if(isAuthorized){ %>
    <div class="container d-flex justify-content-end">
        <a href="/posts/<%= post.postLinkTitle %>/edit" class="btn btn-primary">Edit</a>
        <btn class="btn btn-danger deleteBtn mx-3" data-postTitle="<%= post.postLinkTitle %>" onclick="deletePost()">
            Delete
            Post</btn>
    </div>
    <% } %>
        <pre><code class="language-java"><%=post.desc%></code></pre>
        <p class="text-muted">posted by <%= post.author.username %> on <%=post.date%>.</p>
        <a href="/posts" class="btn btn-outline-primary">Go back</a>